In [6]:
import pandas as pd
from scipy import stats
import numpy as np

# Load the dataset
df = pd.read_csv('tab_data.csv')

# Display the first few rows of the dataset before cleaning
print("First few rows of the dataset before cleaning:")
print(df.head())

# Identify columns with missing values before filling
missing_before = df.isnull().sum()
missing_before = missing_before[missing_before > 0]
print("\nColumns with missing values before filling:")
print(missing_before)

# Handling missing values
# Fill missing numerical values with the median of their respective columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

# For non-numeric columns, we can choose to fill missing values with the mode or a placeholder value
# Here, we fill missing values with the most common value (mode)
non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns
for col in non_numeric_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

# Identify columns with missing values after filling
missing_after = df.isnull().sum()
missing_after = missing_after[missing_after > 0]
print("\nColumns with missing values after filling:")
print(missing_after)

# Correcting data types
df['clusterid - Prediction/OutPut'] = df['clusterid - Prediction/OutPut'].astype('category')
df['companycode'] = df['companycode'].astype('category')

# Outlier detection and removal using Z-score for numerical columns
# We'll consider a Z-score threshold of 3 for identifying outliers
# Ensure to calculate Z-scores only for numerical columns
# Recalculate numeric_cols to exclude 'companycode' if it was mistakenly included
numeric_cols = df.select_dtypes(include=[np.number]).columns
z_scores = stats.zscore(df[numeric_cols])
abs_z_scores = np.abs(z_scores)

# Identify outliers
outliers = (abs_z_scores >= 3).any(axis=1)
print("\nRows with outliers:")
print(df[outliers])

# Remove outliers
filtered_entries = (abs_z_scores < 3).all(axis=1)
df_cleaned = df[filtered_entries]

# Any other relevant cleaning steps
#df_cleaned = df_cleaned.drop_duplicates()

# Saving the cleaned data to a new file
df_cleaned.to_csv('Modified_1.csv', index=False)

# Display the first few rows of the cleaned dataset
print("\nFirst few rows of the dataset after cleaning:")
print(df_cleaned.head())

First few rows of the dataset before cleaning:
   clusterid - Prediction/OutPut companycode  ff_assets_curr  ff_curr_ratio  \
0                              5    B03YJQ-R       11.213000       0.829303
1                              5    B03YJQ-R       14.463000       1.127280
2                              3    B04MZH-R    13932.000000       1.539854
3                              6    B04MZH-R    13932.000000       1.716865
4                              3    B07C51-R       95.455576       1.007412

     ff_debt  ff_debt_eq  ff_ebitda_oper  ff_inven_turn  ff_invest_cf  \
0  55.123000   92.488255       -2.755000      13.564401      1.919000
1  53.431000   28.062500        3.663000      17.391083     -0.541000
2   0.000000    0.000000        0.000000       6.013168      0.000000
3   0.000000    0.000000        0.000000       6.090285      0.000000
4  30.776546    2.043920       28.808719       6.068170     -7.426183

   ff_ltd_com_eq  ff_oper_cf   ff_roce    ff_sales
0      87.615772    4.926000 -0.144505   24.228000
1      26.835084    7.767000 -0.014595   34.909000
2       0.000000    0.000000  0.000000  120.000000
3       0.000000    0.000000  0.000000   66.000000
4       0.158480   30.620235  0.982798  244.466698

Columns with missing values before filling:
Series([], dtype: int64)

Columns with missing values after filling:
Series([], dtype: int64)

Rows with outliers:
     clusterid - Prediction/OutPut companycode  ff_assets_curr  ff_curr_ratio  \
0                                5    B03YJQ-R       11.213000       0.829303
1                                5    B03YJQ-R       14.463000       1.127280
82                               4    BJ0WPB-R        3.241258     159.667882
106                              4    BV1CVQ-R        8.560000     267.500000
142                              2    C3B1CL-R        1.298807       0.408750
...                            ...         ...             ...            ...
2326                             4    WV082K-R      142.822000     388.103261
2328                             3    WVY4DX-R        2.928000       0.682199
2329                             4    WVY4DX-R        3.947000       1.232667
2364                             4    X55TYQ-R      225.227000     274.332521
2440                             3    XJQG0B-R        8.481000       1.027751

        ff_debt  ff_debt_eq  ff_ebitda_oper  ff_inven_turn  ff_invest_cf  \
0     55.123000   92.488255       -2.755000      13.564401         1.919
1     53.431000   28.062500        3.663000      17.391083        -0.541
82     0.000000    0.000000       -0.001290       6.013168         0.000
106    0.000000    0.000000       -0.534000       0.000000        -0.164
142    5.760948   -1.843959       -1.392061     780.526162         0.000
...         ...         ...             ...            ...           ...
2326   0.447000    0.001991        3.195000       6.013168         0.000
2328   0.820000   -1.318328       -2.743000       6.013168        -0.155
2329   0.213000    0.190689       -7.863000       9.751408        -0.192
2364   0.000000    0.000000        0.000000       6.013168         0.000
2440   2.201000   -0.180380       -7.819000       6.013168         0.397

      ff_ltd_com_eq  ff_oper_cf   ff_roce   ff_sales
0         87.615772    4.926000 -0.144505  24.228000
1         26.835084    7.767000 -0.014595  34.909000
82         0.000000    1.609137 -0.000401   0.018000
106        0.000000   -0.748000 -0.014021   0.000000
142       -1.715662   -1.040566 -0.807915   1.901307
...             ...         ...       ...        ...
2326       0.001728    1.609137  0.014197   0.000000
2328      -0.342444   -1.031000  7.740831  24.376000
2329       0.000000   -8.280000 -7.734109  25.456000
2364       0.000000    1.609137  0.000000   0.000000
2440      -0.150713   -8.041000 -7.144473  14.228000

[113 rows x 13 columns]

First few rows of the dataset after cleaning:
  clusterid - Prediction/OutPut companycode  ff_assets_curr  ff_curr_ratio  \
2                             3    B04MZH-R    13932.000000       1.539854
3                             6    B04MZH-R    13932.000000       1.716865
4                             3    B07C51-R       95.455576       1.007412
5                             6    B07C51-R       32.226000       1.716865
6                             3    B0KD9G-R       26.809233       1.539854

     ff_debt  ff_debt_eq  ff_ebitda_oper  ff_inven_turn  ff_invest_cf  \
2   0.000000    0.000000        0.000000       6.013168      0.000000
3   0.000000    0.000000        0.000000       6.090285      0.000000
4  30.776546    2.043920       28.808719       6.068170     -7.426183
5   8.492356    0.127927        8.005395       6.090285     -2.060500
6   7.591615    0.131259        2.032000       6.013168     -1.400000

   ff_ltd_com_eq  ff_oper_cf   ff_roce    ff_sales
2       0.000000    0.000000  0.000000  120.000000
3       0.000000    0.000000  0.000000   66.000000
4       0.158480   30.620235  0.982798  244.466698
5       0.064841    1.883323  0.000000   37.537500
6       0.062213    1.609137  0.000000   22.933406

In [7]:
import pandas as pd
from scipy import stats
import numpy as np

# Load the dataset
df = pd.read_csv('tab_data.csv')

# Handling missing values
numeric_cols = df.select_dtypes(include=[np.number]).columns
df[numeric_cols] = df[numeric_cols].fillna(df[numeric_cols].median())

non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns
for col in non_numeric_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

df['clusterid - Prediction/OutPut'] = df['clusterid - Prediction/OutPut'].astype('category')
df['companycode'] = df['companycode'].astype('category')

# Outlier detection using Z-score for numerical columns
numeric_cols = df.select_dtypes(include=[np.number]).columns
z_scores = stats.zscore(df[numeric_cols])
abs_z_scores = np.abs(z_scores)

# Threshold for identifying outliers
threshold = 3

# Identifying outliers
outliers = (abs_z_scores > threshold).any(axis=1)
outlier_data = df[outliers]

# Save outliers to a CSV file
outlier_data.to_csv('outliers.csv', index=False)

# Display cell information (row number, column number) for detected outliers
outlier_cells = np.column_stack(np.where(abs_z_scores > threshold))
print("Outlier cell information (row index, column index):")
for cell in outlier_cells:
    print(f"Row {cell[0]}, Column {cell[1]} (Column name: {numeric_cols[cell[1]]})")

# Remove outliers
filtered_entries = (abs_z_scores < 3).all(axis=1)
df_cleaned = df[filtered_entries]

# Saving the cleaned data to a new file
df_cleaned.to_csv('Modified_1.csv', index=False)

Outlier cell information (row index, column index):
Row 0, Column 7 (Column name: ff_ltd_com_eq)
Row 1, Column 7 (Column name: ff_ltd_com_eq)
Row 82, Column 1 (Column name: ff_curr_ratio)
Row 106, Column 1 (Column name: ff_curr_ratio)
Row 142, Column 5 (Column name: ff_inven_turn)
Row 188, Column 4 (Column name: ff_ebitda_oper)
Row 188, Column 10 (Column name: ff_sales)
Row 189, Column 4 (Column name: ff_ebitda_oper)
Row 189, Column 10 (Column name: ff_sales)
Row 208, Column 6 (Column name: ff_invest_cf)
Row 208, Column 8 (Column name: ff_oper_cf)
Row 208, Column 10 (Column name: ff_sales)
Row 209, Column 6 (Column name: ff_invest_cf)
Row 209, Column 10 (Column name: ff_sales)
Row 252, Column 4 (Column name: ff_ebitda_oper)
Row 252, Column 6 (Column name: ff_invest_cf)
Row 252, Column 8 (Column name: ff_oper_cf)
Row 252, Column 10 (Column name: ff_sales)
Row 253, Column 4 (Column name: ff_ebitda_oper)
Row 253, Column 6 (Column name: ff_invest_cf)
Row 253, Column 8 (Column name: ff_oper_cf)
Row 253, Column 10 (Column name: ff_sales)
Row 266, Column 5 (Column name: ff_inven_turn)
Row 267, Column 5 (Column name: ff_inven_turn)
Row 358, Column 9 (Column name: ff_roce)
Row 378, Column 1 (Column name: ff_curr_ratio)
Row 483, Column 1 (Column name: ff_curr_ratio)
Row 527, Column 3 (Column name: ff_debt_eq)
Row 527, Column 7 (Column name: ff_ltd_com_eq)
Row 532, Column 9 (Column name: ff_roce)
Row 533, Column 9 (Column name: ff_roce)
Row 600, Column 7 (Column name: ff_ltd_com_eq)
Row 608, Column 4 (Column name: ff_ebitda_oper)
Row 608, Column 10 (Column name: ff_sales)
Row 609, Column 4 (Column name: ff_ebitda_oper)
Row 609, Column 10 (Column name: ff_sales)
Row 650, Column 1 (Column name: ff_curr_ratio)
Row 680, Column 4 (Column name: ff_ebitda_oper)
Row 681, Column 6 (Column name: ff_invest_cf)
Row 737, Column 5 (Column name: ff_inven_turn)
Row 762, Column 2 (Column name: ff_debt)
Row 762, Column 4 (Column name: ff_ebitda_oper)
Row 762, Column 6 (Column name: ff_invest_cf)
Row 762, Column 8 (Column name: ff_oper_cf)
Row 762, Column 10 (Column name: ff_sales)
Row 763, Column 0 (Column name: ff_assets_curr)
Row 763, Column 2 (Column name: ff_debt)
Row 763, Column 4 (Column name: ff_ebitda_oper)
Row 763, Column 8 (Column name: ff_oper_cf)
Row 763, Column 10 (Column name: ff_sales)
Row 792, Column 1 (Column name: ff_curr_ratio)
Row 842, Column 7 (Column name: ff_ltd_com_eq)
Row 843, Column 7 (Column name: ff_ltd_com_eq)
Row 852, Column 2 (Column name: ff_debt)
Row 852, Column 4 (Column name: ff_ebitda_oper)
Row 852, Column 6 (Column name: ff_invest_cf)
Row 852, Column 8 (Column name: ff_oper_cf)
Row 852, Column 10 (Column name: ff_sales)
Row 853, Column 0 (Column name: ff_assets_curr)
Row 853, Column 2 (Column name: ff_debt)
Row 853, Column 4 (Column name: ff_ebitda_oper)
Row 853, Column 8 (Column name: ff_oper_cf)
Row 853, Column 10 (Column name: ff_sales)
Row 892, Column 4 (Column name: ff_ebitda_oper)
Row 920, Column 5 (Column name: ff_inven_turn)
Row 921, Column 5 (Column name: ff_inven_turn)
Row 928, Column 1 (Column name: ff_curr_ratio)
Row 936, Column 4 (Column name: ff_ebitda_oper)
Row 937, Column 4 (Column name: ff_ebitda_oper)
Row 954, Column 9 (Column name: ff_roce)
Row 959, Column 1 (Column name: ff_curr_ratio)
Row 1020, Column 5 (Column name: ff_inven_turn)
Row 1021, Column 5 (Column name: ff_inven_turn)
Row 1024, Column 0 (Column name: ff_assets_curr)
Row 1024, Column 2 (Column name: ff_debt)
Row 1024, Column 6 (Column name: ff_invest_cf)
Row 1024, Column 8 (Column name: ff_oper_cf)
Row 1025, Column 0 (Column name: ff_assets_curr)
Row 1025, Column 2 (Column name: ff_debt)
Row 1025, Column 6 (Column name: ff_invest_cf)
Row 1025, Column 8 (Column name: ff_oper_cf)
Row 1030, Column 9 (Column name: ff_roce)
Row 1038, Column 9 (Column name: ff_roce)
Row 1054, Column 9 (Column name: ff_roce)
Row 1106, Column 9 (Column name: ff_roce)
Row 1174, Column 5 (Column name: ff_inven_turn)
Row 1175, Column 5 (Column name: ff_inven_turn)
Row 1181, Column 1 (Column name: ff_curr_ratio)
Row 1182, Column 5 (Column name: ff_inven_turn)
Row 1183, Column 5 (Column name: ff_inven_turn)
Row 1186, Column 4 (Column name: ff_ebitda_oper)
Row 1187, Column 4 (Column name: ff_ebitda_oper)
Row 1187, Column 8 (Column name: ff_oper_cf)
Row 1187, Column 10 (Column name: ff_sales)
Row 1238, Column 7 (Column name: ff_ltd_com_eq)
Row 1260, Column 9 (Column name: ff_roce)
Row 1282, Column 0 (Column name: ff_assets_curr)
Row 1282, Column 2 (Column name: ff_debt)
Row 1282, Column 8 (Column name: ff_oper_cf)
Row 1282, Column 10 (Column name: ff_sales)
Row 1283, Column 0 (Column name: ff_assets_curr)
Row 1283, Column 2 (Column name: ff_debt)
Row 1283, Column 6 (Column name: ff_invest_cf)
Row 1283, Column 8 (Column name: ff_oper_cf)
Row 1283, Column 10 (Column name: ff_sales)
Row 1420, Column 1 (Column name: ff_curr_ratio)
Row 1496, Column 0 (Column name: ff_assets_curr)
Row 1496, Column 2 (Column name: ff_debt)
Row 1496, Column 8 (Column name: ff_oper_cf)
Row 1496, Column 10 (Column name: ff_sales)
Row 1497, Column 0 (Column name: ff_assets_curr)
Row 1497, Column 2 (Column name: ff_debt)
Row 1497, Column 6 (Column name: ff_invest_cf)
Row 1497, Column 8 (Column name: ff_oper_cf)
Row 1497, Column 10 (Column name: ff_sales)
Row 1541, Column 9 (Column name: ff_roce)
Row 1570, Column 0 (Column name: ff_assets_curr)
Row 1570, Column 2 (Column name: ff_debt)
Row 1570, Column 6 (Column name: ff_invest_cf)
Row 1570, Column 8 (Column name: ff_oper_cf)
Row 1571, Column 0 (Column name: ff_assets_curr)
Row 1571, Column 2 (Column name: ff_debt)
Row 1571, Column 6 (Column name: ff_invest_cf)
Row 1571, Column 8 (Column name: ff_oper_cf)
Row 1598, Column 4 (Column name: ff_ebitda_oper)
Row 1598, Column 10 (Column name: ff_sales)
Row 1599, Column 4 (Column name: ff_ebitda_oper)
Row 1599, Column 10 (Column name: ff_sales)
Row 1614, Column 8 (Column name: ff_oper_cf)
Row 1615, Column 0 (Column name: ff_assets_curr)
Row 1615, Column 8 (Column name: ff_oper_cf)
Row 1618, Column 0 (Column name: ff_assets_curr)
Row 1618, Column 2 (Column name: ff_debt)
Row 1618, Column 10 (Column name: ff_sales)
Row 1619, Column 0 (Column name: ff_assets_curr)
Row 1619, Column 2 (Column name: ff_debt)
Row 1619, Column 10 (Column name: ff_sales)
Row 1626, Column 7 (Column name: ff_ltd_com_eq)
Row 1627, Column 7 (Column name: ff_ltd_com_eq)
Row 1640, Column 1 (Column name: ff_curr_ratio)
Row 1656, Column 7 (Column name: ff_ltd_com_eq)
Row 1666, Column 10 (Column name: ff_sales)
Row 1671, Column 1 (Column name: ff_curr_ratio)
Row 1710, Column 9 (Column name: ff_roce)
Row 1716, Column 9 (Column name: ff_roce)
Row 1774, Column 5 (Column name: ff_inven_turn)
Row 1775, Column 5 (Column name: ff_inven_turn)
Row 1775, Column 7 (Column name: ff_ltd_com_eq)
Row 1776, Column 7 (Column name: ff_ltd_com_eq)
Row 1782, Column 4 (Column name: ff_ebitda_oper)
Row 1782, Column 6 (Column name: ff_invest_cf)
Row 1782, Column 8 (Column name: ff_oper_cf)
Row 1782, Column 10 (Column name: ff_sales)
Row 1783, Column 4 (Column name: ff_ebitda_oper)
Row 1783, Column 6 (Column name: ff_invest_cf)
Row 1783, Column 8 (Column name: ff_oper_cf)
Row 1783, Column 10 (Column name: ff_sales)
Row 1788, Column 0 (Column name: ff_assets_curr)
Row 1788, Column 2 (Column name: ff_debt)
Row 1788, Column 8 (Column name: ff_oper_cf)
Row 1789, Column 0 (Column name: ff_assets_curr)
Row 1789, Column 2 (Column name: ff_debt)
Row 1789, Column 6 (Column name: ff_invest_cf)
Row 1791, Column 7 (Column name: ff_ltd_com_eq)
Row 1811, Column 3 (Column name: ff_debt_eq)
Row 1834, Column 2 (Column name: ff_debt)
Row 1834, Column 4 (Column name: ff_ebitda_oper)
Row 1834, Column 6 (Column name: ff_invest_cf)
Row 1834, Column 8 (Column name: ff_oper_cf)
Row 1834, Column 10 (Column name: ff_sales)
Row 1835, Column 4 (Column name: ff_ebitda_oper)
Row 1835, Column 8 (Column name: ff_oper_cf)
Row 1835, Column 10 (Column name: ff_sales)
Row 1852, Column 7 (Column name: ff_ltd_com_eq)
Row 1853, Column 3 (Column name: ff_debt_eq)
Row 1853, Column 7 (Column name: ff_ltd_com_eq)
Row 1874, Column 9 (Column name: ff_roce)
Row 1934, Column 1 (Column name: ff_curr_ratio)
Row 2008, Column 7 (Column name: ff_ltd_com_eq)
Row 2038, Column 9 (Column name: ff_roce)
Row 2044, Column 7 (Column name: ff_ltd_com_eq)
Row 2082, Column 7 (Column name: ff_ltd_com_eq)
Row 2092, Column 10 (Column name: ff_sales)
Row 2098, Column 7 (Column name: ff_ltd_com_eq)
Row 2176, Column 5 (Column name: ff_inven_turn)
Row 2184, Column 2 (Column name: ff_debt)
Row 2185, Column 2 (Column name: ff_debt)
Row 2232, Column 5 (Column name: ff_inven_turn)
Row 2264, Column 9 (Column name: ff_roce)
Row 2303, Column 3 (Column name: ff_debt_eq)
Row 2306, Column 1 (Column name: ff_curr_ratio)
Row 2326, Column 1 (Column name: ff_curr_ratio)
Row 2328, Column 9 (Column name: ff_roce)
Row 2329, Column 9 (Column name: ff_roce)
Row 2364, Column 1 (Column name: ff_curr_ratio)
Row 2440, Column 9 (Column name: ff_roce)

> Contains Outlier and Missing Value detction and removal for creation of new file for further use . 
> Genearted File is renamed manually to Cleaned_1.csv

In [8]:
import pandas as pd

# Load the dataset
df = pd.read_csv('tab_data.csv')

# Check for non-numeric columns that should be categorical
non_numeric_cols = df.select_dtypes(exclude=[np.number]).columns
print("Non-numeric columns:", non_numeric_cols)

# Check for numeric columns with a low number of unique values
for col in df.select_dtypes(include=[np.number]).columns:
    unique_values = df[col].nunique()
    if unique_values < 10:  # Threshold for the number of unique values
        print(f"Column '{col}' is numeric but has only {unique_values} unique values, which may indicate a categorical feature.")

# Check for string columns that contain numeric values
for col in non_numeric_cols:
    # Try to convert the column to numeric
    converted_col = pd.to_numeric(df[col], errors='coerce')
    
    # If the conversion did not result in NaN for all entries, it might be a numeric column
    if not converted_col.isnull().all():
        print(f"Column '{col}' contains numeric values and might need to be converted to numeric dtype.")

Non-numeric columns: Index(['companycode'], dtype='object')
Column 'clusterid - Prediction/OutPut' is numeric but has only 6 unique values, which may indicate a categorical feature.